<section>
  <article>
    <h1>Our Story</h1>
    <p><%= @story %></p>
  </article>
  <article>
    <h1>Our Mission</h1>
    <p><%= @mission %></p>
  </article>  <article>
    <h1>Our Locations</h1>
    <p><%= @location %></p>
  </article>
</section>